@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Poppins:wght@200;400&display=swap");

$main-font: "Poppins";
$seccound-font: "Inter";
$bg-color: #eaeaea;
$text-color: #252a34;
